@page "/ActiveOrderDishes/{id:long}"
@inject NavigationManager UriHelper
@using FoodTeams.Entities
@using FoodTeams.Services
@using Microsoft.AspNetCore.Http.Extensions
@inject OrderService orderService
@inject DishService dishService
@inject TeamsUserCredential teamsUserCredential
@inject UserService userService


<body>

	<h1 class="display-3 mb-10" style="text-align:center">ORDER</h1>
	<br />

	<table class="table table-striped" style="background-color:#eeeeee; width:70%; position:center; margin-right:auto; margin-left:auto">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Restaurant Name</th>
				<th>Menu link</th>
				<th>Minimal price</th>
				<th>Delivery price</th>
				<th>Free delivery price</th>
				<th>Total cost</th>
				<th>Blik number</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><b>@orderService.GetOrderById(Id).Id</b></td>
				<td>@orderService.GetOrderById(Id).RestaurantName</td>
				<td><a href="@orderService.GetOrderById(Id).MenuLink" target="_blank">@orderService.GetOrderById(Id).MenuLink</a></td>
				<td>@orderService.GetOrderById(Id).MinPrice</td>
				<td>@orderService.GetOrderById(Id).DeliveryPrice</td>
				<td>@orderService.GetOrderById(Id).FreeDeliveryPrice</td>
				<td><b>@orderService.GetOrderCost(orderService.GetOrderById(Id))</b></td>
				<td>@orderService.GetOrderById(Id).BLIKNumber</td>
			</tr>
			<tr style="text-align:right; font-weight:bold">
				<td colspan="6" style="background-color:white">To reach the minimum price: @(orderService.GetMinimalOrderPrice(orderService.GetOrderById(Id)))</td>
				<td colspan="2" style="background-color:white">To reach the free delivery price: @(orderService.GetFreeDeliveryOrderPrice(orderService.GetOrderById(Id)))</td>
			</tr>
		</tbody>
	</table>

	<h1 class="display-3 mb-10" style="text-align:center">DISHES</h1>
	<br />

	<table class="table table-bordered" style="background-color:#eeeeee; width:70%; position:center; margin-right:auto; margin-left:auto">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Extras</th>
				<th>Price</th>
				<th>User email</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var dish in dishService.GetOrderDishes(Id))
			{
				<tr>
					<td><b>@dish.Id</b></td>
					<td>@dish.Description</td>
					<td>@dish.Extras</td>
					<td>@dish.Price</td>
					<td>@userService.GetUserEmailByUserId(dish.UserId)</td>
					<td>
						<button title="Edit dish" class="material-icons" style="border:none; font-size:32px" @onclick="()=>EditDish(dish.Id)">edit</button>
						<button title="Delete dish" class="material-icons" style="border:none; font-size:32px" @onclick="()=>OpenDeleteDialog(dish.Id)">delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>


	<div class="input-group mb-3" style="width:70%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Description</span>
		</div>
		<input placeholder="Description" @bind="Description" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:70%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Extras</span>
		</div>
		<input placeholder="Extras" @bind="Extras" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group mb-3" style="width:70%; position:center; margin-right:auto; margin-left:auto">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Price</span>
		</div>
		<input placeholder="Price" @bind="Price" type="number" min="0" max="1000" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
	</div>

	<br />

	<button disabled="@(Price >=1000)" style="display: block;margin: 0 auto;"
			class="btn btn-success" @onclick="()=>AddNewDish(orderService.GetOrderById(Id).Id)">
		Add dish
	</button>

	<br />

	<button style="position: fixed; top: 10px; left: 10px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToPrevious">arrow_back</button>
	<button style="position: fixed; top: 10px; left: 60px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToMainMenu">home</button>

</body>

@if (DeleteDialogOpen)
{
	<ModalDialog Title="Are you sure?"
			 Text="Do you want to delete this entry?"
			 OnClose="@OnDeleteDialogClose">
	</ModalDialog>
}

@if (CreateDialogOpen)
{
	<ModalDialog Title="Error"
			 Text="Please fill out Description field"
			 OnClose="@OnCreateDialogClose">
	</ModalDialog>
}

@code {

	[Parameter]
	public long Id{ get; set; }

	public long DishId{ get; set; }
	public string Description { get; set; }
	public string Extras { get; set; }
	public decimal Price { get; set; }
	public long UserId{ get; set; }

	public bool DeleteDialogOpen { get; set; } = false;
	public bool CreateDialogOpen { get; set; } = false;

	public void NavigateToMainMenu()
	{
		StateHasChanged();
		UriHelper.NavigateTo("/Welcome");
	}

	public void NavigateToPrevious()
	{
		StateHasChanged();
		UriHelper.NavigateTo("/ActiveOrders");
	}


	public void AddNewDish(long id)
	{
		if (string.IsNullOrWhiteSpace(Description))
		{
			OpenCreateDialog();
			return;
		}
		var user = teamsUserCredential.GetUserInfoAsync().GetAwaiter().GetResult();
		var dbUser = userService.GetUserByEmail(user.PreferredUserName);
		dishService.CreateDish(id, Description, Extras, Price, dbUser.Id);
		StateHasChanged();
	}

	public void EditDish(long dishId)
	{
		UriHelper.NavigateTo("/EditDish/" + dishId);
		StateHasChanged();
	}

	public void OpenDeleteDialog(long id)
	{
		DishId = id;
		DeleteDialogOpen = true;
		StateHasChanged();
	}

	public void OnDeleteDialogClose(bool accepted)
	{
		if (accepted)
		{
			dishService.DeleteDish(DishId);
			StateHasChanged();
		}

		DeleteDialogOpen = false;
		StateHasChanged();
	}

	public void OpenCreateDialog()
	{
		CreateDialogOpen = true;
		StateHasChanged();
	}

	public void OnCreateDialogClose()
	{
		CreateDialogOpen = false;
		StateHasChanged();
	}

}

