@page "/ActiveOrderDishes"
@inject NavigationManager UriHelper
@using FoodTeams.Services
@using Microsoft.AspNetCore.Http.Extensions
@inject OrderService Service
@inject DishService service

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 20px;
		}

		th {
			text-align: left;
		}
	</style>
</head>

<body>

	<h1 style="text-align:center">ORDER</h1>

	<table style="width:100%">
		<tr>
			<th>Id</th>
			<th>Restaurant Name</th>
			<th>Menu link</th>
			<th>Minimal price</th>
			<th>Delivery price</th>
			<th>Free delivery price</th>
			<th>Blik number</th>
		</tr>
		<tr>
			<td>@Service.Order.Id</td>
			<td>@Service.Order.RestaurantName</td>
			<td><a href="@Service.Order.MenuLink" target="_blank">Click</a></td>
			<td>@Service.Order.MinPrice</td>
			<td>@Service.Order.DeliveryPrice</td>
			<td>@Service.Order.FreeDeliveryPrice</td>
			<td>@Service.Order.BLIKNumber</td>
		</tr>
	</table>

	<h1 style="text-align:center">DISHES</h1>

	<table style="width:100%">
		<tr>
			<th>Id</th>
			<th>Description</th>
			<th>Extras</th>
			<th>Price</th>
			<th>UserId</th>
			<th>Actions</th>
		</tr>

		@foreach (var dish in service.dishes)
		{
			<tr>
				<td>@dish.Id</td>
				<td>@dish.Description</td>
				<td>@dish.Extras</td>
				<td>@dish.Price</td>
				<td>@dish.UserId</td>
				<td>
					<button @onclick="()=>EditDish(dish.Id)">Edit dish</button>
					<button @onclick="()=>DeleteDish(dish.Id)">Delete dish</button>
				</td>
			</tr>
		}
	</table>

	<input placeholder="Description" @bind="Description" />
	<input placeholder="Extras" @bind="Extras" />
	<label for="Price">Price:</label>
	<input id="Price" type="number" min="0" placeholder="Price" @bind="Price" />
	<label for="UserId">User Id:</label>
	<input id="UserId" type="number" min="0" placeholder="UserId" @bind="UserId" />
	<button @onclick="()=>AddNewDish(Service.Order.Id)">Add dish</button>
	<br />

	<button style="text-align:center; height:30px; width:150px ;margin:20px" @onclick="NavigateToPrevious">Back</button>
	<button style="text-align:center; height:30px; width:150px ;margin:20px" @onclick="NavigateToMainMenu">Main menu</button>

</body>

@code {


	public void NavigateToMainMenu()
	{
		UriHelper.NavigateTo("/Welcome");
	}

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/ActiveOrders");
	}

	public string Description { get; set; }
	public string Extras { get; set; }
	public decimal Price { get; set; }
	public long UserId { get; set; }

	public void AddNewDish(long id)
	{
		service.CreateDish(id, Description, Extras, Price, UserId);
		service.GetDishes(id);
		StateHasChanged();
	}

	public void DeleteDish(long id)
	{
		service.DeleteDish(id);
		service.GetDishes(Service.Order.Id);
		StateHasChanged();
	}

	public void EditDish(long id)
	{
		service.UpdateDish(id);
		UriHelper.NavigateTo("/EditDish");
	}

}

