@page "/dishes"
@using FoodTeams.Components
@using FoodTeams.Services
@inject DishService service
@inject NavigationManager UriHelper
@inject OrderService Service




<body>

	<h1 class="display-3 mb-10" style="text-align:center">ORDER</h1>

	<table class="table table-bordered" style="background-color:#eeeeee">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Restaurant Name</th>
				<th>Menu link</th>
				<th>Minimal price</th>
				<th>Delivery price</th>
				<th>Free delivery price</th>
				<th>Blik number</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><b>@Service.Order.Id</b></td>
				<td>@Service.Order.RestaurantName</td>
				<td><a href="@Service.Order.MenuLink" target="_blank">Click</a></td>
				<td>@Service.Order.MinPrice</td>
				<td>@Service.Order.DeliveryPrice</td>
				<td>@Service.Order.FreeDeliveryPrice</td>
				<td>@Service.Order.BLIKNumber</td>
			</tr>
		</tbody>
	</table>

	<h1 class="display-3 mb-10" style="text-align:center">DISHES</h1>

	<table class="table table-bordered" style="background-color:#eeeeee">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Extras</th>
				<th>Price</th>
				<th>UserId</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var dish in service.dishes)
			{
				<tr>
					<td><b>@dish.Id</b></td>
					<td>@dish.Description</td>
					<td>@dish.Extras</td>
					<td>@dish.Price</td>
					<td>@dish.UserId</td>
				</tr>
			}
		</tbody>
	</table>

	<button style="position: fixed; top: 10px; left: 10px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToPrevious">arrow_back</button>
	<button style="position: fixed; top: 10px; left: 60px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToMainMenu">home</button>

</body>

@code {


	public void NavigateToMainMenu()
	{
		UriHelper.NavigateTo("/Welcome");
	}

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/OrderHistory");
	}

}
