@page "/EditOrder"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject OrderService orderService
@inject NavigationManager UriHelper

<h1 class="display-3 mb-10" style=" text-align:center">Edit Order</h1>

<EditOrderForm
	RestaurantName="@orderService.Order.RestaurantName"
	MenuLink="@orderService.Order.MenuLink"
	MinPrice="@orderService.Order.MinPrice"
	DeliveryPrice="@orderService.Order.DeliveryPrice"
	FreeDeliveryPrice="@orderService.Order.FreeDeliveryPrice"
	BLIKNumber="@orderService.Order.BLIKNumber">
</EditOrderForm>


	<button style="position: fixed; top: 10px; left: 10px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToPrevious">arrow_back</button>
	<button style="position: fixed; top: 10px; left: 60px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToMainMenu">home</button>

@code {

	public void NavigateToMainMenu()
	{
		UriHelper.NavigateTo("/Welcome");
	}

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/ActiveOrders");
	}

	//[Parameter]
	//public long id{ get; set; }


}
