@page "/EditDish/{dishId:long}"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject DishService dishService
@inject OrderService orderService
@inject NavigationManager UriHelper


<body>

	<h1 class="display-3 mb-10" style="text-align:center">ORDER</h1>

	<br />

	<table class="table table-bordered" style="background-color:#eeeeee; width:70%; position:center; margin-right:auto; margin-left:auto">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Restaurant Name</th>
				<th>Menu link</th>
				<th>Minimal price</th>
				<th>Delivery price</th>
				<th>Free delivery price</th>
				<th>Blik number</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><b>@orderService.GetOrderByDishId(DishId).Id</b></td>
				<td>@orderService.GetOrderByDishId(DishId).RestaurantName</td>
				<td><a href="@orderService.GetOrderByDishId(DishId).MenuLink" target="_blank">@orderService.GetOrderByDishId(DishId).MenuLink</a></td>
				<td>@orderService.GetOrderByDishId(DishId).MinPrice</td>
				<td>@orderService.GetOrderByDishId(DishId).DeliveryPrice</td>
				<td>@orderService.GetOrderByDishId(DishId).FreeDeliveryPrice</td>
				<td>@orderService.GetOrderByDishId(DishId).BLIKNumber</td>
			</tr>
		</tbody>
	</table>

	<h1 class="display-3 mb-10" style="text-align:center">Edit Dish</h1>

	<br />

	<table class="table table-bordered" style="background-color:#eeeeee; width:70%; position:center; margin-right:auto; margin-left:auto">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Extras</th>
				<th>Price</th>
				<th>UserId</th>
			</tr>
		</thead>

		<tbody>
			@foreach(var dish in orderService.GetOrderByDishId(DishId).Dishes)
			{
			<tr>
				<td><b>@dish.Id</b></td>
				<td>@dish.Description</td>
				<td>@dish.Extras</td>
				<td>@dish.Price</td>
				<td>@dish.UserId</td>
			</tr>
			}
		</tbody>
	</table>


<EditDishForm
	Description="@dishService.GetDishById(DishId).Description"
	Extras="@dishService.GetDishById(DishId).Extras"
	Price="@dishService.GetDishById(DishId).Price"
	UserId="@dishService.GetDishById(DishId).UserId"
	DishId="DishId"
></EditDishForm>

	<br />

	<button style="position: fixed; top: 10px; left: 10px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToPrevious">arrow_back</button>
	<button style="position: fixed; top: 10px; left: 60px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToMainMenu">home</button>

</body>

@code {

	[Parameter]
	public long DishId{ get; set; }

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/ActiveOrderDishes");
	}

	public void NavigateToMainMenu()
	{
		UriHelper.NavigateTo("/Welcome");
	}
}
