@page "/EditOrder/{id:long}"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject OrderService orderService
@inject NavigationManager UriHelper

<h1 class="display-3 mb-10" style=" text-align:center">Edit Order</h1>

<EditOrderForm
	RestaurantName="@orderService.GetOrderById(Id).RestaurantName"
	MenuLink="@orderService.GetOrderById(Id).MenuLink"
	MinPrice="@orderService.GetOrderById(Id).MinPrice"
	DeliveryPrice="@orderService.GetOrderById(Id).DeliveryPrice"
	FreeDeliveryPrice="@orderService.GetOrderById(Id).FreeDeliveryPrice"
	BLIKNumber="@orderService.GetOrderById(Id).BLIKNumber"
	OrderId="Id">
</EditOrderForm>


	<button style="position: fixed; top: 10px; left: 10px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToPrevious">arrow_back</button>
	<button style="position: fixed; top: 10px; left: 60px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToMainMenu">home</button>

@code {

	[Parameter]
	public long Id { get; set; }
	public void NavigateToMainMenu()
	{
		UriHelper.NavigateTo("/Welcome");
	}

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/ActiveOrders");
	}

	//[Parameter]
	//public long id{ get; set; }


}
