@page "/EditDish"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject DishService service
@inject OrderService Service
@inject NavigationManager UriHelper


<body>

	<h1 class="display-3 mb-10" style="text-align:center">ORDER</h1>

	<table class="table table-bordered table-striped" style="width:100%">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Restaurant Name</th>
				<th>Menu link</th>
				<th>Minimal price</th>
				<th>Delivery price</th>
				<th>Free delivery price</th>
				<th>Blik number</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><b>@Service.Order.Id</b></td>
				<td>@Service.Order.RestaurantName</td>
				<td><a href="@Service.Order.MenuLink" target="_blank">@Service.Order.MenuLink</a></td>
				<td>@Service.Order.MinPrice</td>
				<td>@Service.Order.DeliveryPrice</td>
				<td>@Service.Order.FreeDeliveryPrice</td>
				<td>@Service.Order.BLIKNumber</td>
			</tr>
		</tbody>
	</table>

	<h1 class="display-3 mb-10" style="text-align:center">Edit Dish</h1>

	<table class="table table-striped table-bordered" style="width:100%">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Extras</th>
				<th>Price</th>
				<th>UserId</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><b>@service.dish.Id</b></td>
				<td>@service.dish.Description</td>
				<td>@service.dish.Extras</td>
				<td>@service.dish.Price</td>
				<td>@service.dish.UserId</td>
			</tr>
		</tbody>
	</table>


<EditDishForm
	Description="@service.dish.Description"
	Extras="@service.dish.Extras"
	Price="@service.dish.Price"
	UserId="@service.dish.UserId"
></EditDishForm>

	<br />

	<button style="position: fixed; top: 10px; left: 10px" class="btn btn-dark" @onclick="NavigateToPrevious">Back</button>
	<button style="position: fixed; top: 10px; left: 80px" class="btn btn-info" @onclick="NavigateToMainMenu">Main menu</button>

</body>

@code {

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/ActiveOrderDishes");
	}

	public void NavigateToMainMenu()
	{
		UriHelper.NavigateTo("/Welcome");
	}
}
