@page "/EditOrder"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject OrderService service
@inject NavigationManager UriHelper

<h1 class="display-3 mb-10" style=" text-align:center">Edit Order</h1>

<EditOrderForm
	RestaurantName="@service.Order.RestaurantName"
	MenuLink="@service.Order.MenuLink"
	MinPrice="@service.Order.MinPrice"
	DeliveryPrice="@service.Order.DeliveryPrice"
	FreeDeliveryPrice="@service.Order.FreeDeliveryPrice"
	BLIKNumber="@service.Order.BLIKNumber">
</EditOrderForm>


<button class="btn btn-dark" @onclick="NavigateToPrevious">Back</button>
<button class="btn btn-info" @onclick="NavigateToMainMenu">Main menu</button>

@code {

	public void NavigateToMainMenu()
	{
		UriHelper.NavigateTo("/Welcome");
	}

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/ActiveOrders");
	}



}
