@page "/OrderHistory"
@using FoodTeams.Services
@inject NavigationManager UriHelper
@inject OrderService service
@inject DishService Service

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 20px;
		}

		th {
			text-align: left;
		}
	</style>
</head>

<body>

	<h1 style="text-align:center">Order history</h1>

	<table style="width:100%">
		<tr>
			<th>Id</th>
			<th>Restaurant Name</th>
			<th>Menu link</th>
			<th>Minimal price</th>
			<th>Delivery price</th>
			<th>Free delivery price</th>
			<th>Blik number</th>
			<th>Order date</th>
			<th>Actions</th>
		</tr>

		@foreach (var order in service.Orders.Where(x => x.IsActive == false))
		{
			<tr>
				<td>@order.Id</td>
				<td>@order.RestaurantName</td>
				<td><a href="@order.MenuLink" target="_blank">Click</a></td>
				<td>@order.MinPrice</td>
				<td>@order.DeliveryPrice</td>
				<td>@order.FreeDeliveryPrice</td>
				<td>@order.BLIKNumber</td>
				<td>@order.CreateDate</td>
				<td>
					<button disabled="@(order.CreateDate<date)" @onclick="()=>Restore(order.Id)">Restore</button>
					<span>/</span>
					<button @onclick="()=>ShowDishes(order.Id)">Show details</button>
				</td>
			</tr>
		}
	</table>

	<button style="text-align:center; height:30px; width:150px ;margin:20px" @onclick="NavigateToPrevious">Back</button>

</body>

@code {
	
	public DateTime date = DateTime.Today.AddHours(-8);

	void ShowDishes(long id)
	{
		service.GetOrder(id);
		Service.GetDishes(id);
		UriHelper.NavigateTo("/Dishes");
	}

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/Welcome");
	}

	public void Restore(long id)
	{
		service.RestoreOrder(id);
		UriHelper.NavigateTo("/ActiveOrders");
	}





}