@page "/OrderHistory"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject NavigationManager UriHelper
@inject OrderService orderService
@inject DishService dishService



<body>

	<h1 class="display-3 mb-10" style="text-align:center">Order history</h1>

	<br />

	<table class="table table-bordered" style="background-color:#eeeeee; width:70%; position:center; margin-right:auto; margin-left:auto">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Restaurant Name</th>
				<th>Menu link</th>
				<th>Minimal price</th>
				<th>Delivery price</th>
				<th>Free delivery price</th>
				<th>Blik number</th>
				<th>Order date</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var order in orderService.GetOrdersByStatus(false))
			{
				<tr>
					<td><b>@order.Id</b></td>
					<td>@order.RestaurantName</td>
					<td><a href="@order.MenuLink" target="_blank">@order.MenuLink</a></td>
					<td>@order.MinPrice</td>
					<td>@order.DeliveryPrice</td>
					<td>@order.FreeDeliveryPrice</td>
					<td>@order.BLIKNumber</td>
					<td>@order.CreateDate</td>
					<td>
						<button title="Restore order" class="material-icons" style="border:none; font-size:32px" disabled="@(order.CreateDate<date)" 
							@onclick="()=>Restore(order.Id)">restore</button>
						<button title="Get receipt" class="material-icons" style="border:none; font-size:32px" @onclick="()=>GetReceipt(order)">receipt</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<button style="position: fixed; top: 10px; left: 10px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToPrevious">arrow_back</button>

</body>

@code {

	public DateTime date = DateTime.Today.AddHours(-8);

	public void NavigateToPrevious()
	{
		UriHelper.NavigateTo("/Welcome");
	}

	public void Restore(long id)
	{
		orderService.RestoreOrder(id);
		UriHelper.NavigateTo("/ActiveOrders");
	}

	public void GetReceipt(Order order)
	{
		//dishService.GetOrderDishes(order.Id);
		UriHelper.NavigateTo("/receipt/" + order.Id);
	}




}