@page "/receipt/{id:long}"
@using FoodTeams.Entities
@using FoodTeams.Services
@inject OrderService orderService
@inject UserService userService
@inject DishService dishService
@inject NavigationManager UriHelper

<h1 class="display-3 mb-10" style="text-align:center">ORDER</h1>

<table class="table table-bordered" style="background-color:#eeeeee; width:70%; position:center; margin-right:auto; margin-left:auto">
	<thead class="thead-dark">
		<tr>
			<th>Id</th>
			<th>Restaurant Name</th>
			<th>Menu link</th>
			<th>Minimal price</th>
			<th>Delivery price</th>
			<th>Free delivery price</th>
			<th>Blik number</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><b>@orderService.GetOrderById(Id).Id</b></td>
			<td>@orderService.GetOrderById(Id).RestaurantName</td>
			<td><a href="@orderService.GetOrderById(Id).MenuLink" target="_blank">Click</a></td>
			<td>@orderService.GetOrderById(Id).MinPrice</td>
			<td>@orderService.GetOrderById(Id).DeliveryPrice</td>
			<td>@orderService.GetOrderById(Id).FreeDeliveryPrice</td>
			<td>@orderService.GetOrderById(Id).BLIKNumber</td>
		</tr>
	</tbody>
</table>
<h1 class="display-3 mb-10" style="text-align:center">Receipt</h1>

<br />

<table class="table table-bordered" style="background-color:#eeeeee; width:70%; position:center; margin-right:auto; margin-left:auto">
	<thead class="thead-dark">
		<tr>
			<th>Id</th>
			<th>Description</th>
			<th>Extras</th>
			<th>Price</th>
			<th>Delivery price</th>
			<th>User email</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var dish in orderService.GetOrderById(Id).Dishes)
		{
			<tr>
				<td><b>@dish.Id</b></td>
				<td>@dish.Description</td>
				<td>@dish.Extras</td>
				<td>@dish.Price</td>
				<td>@GetUserDeliveryPrice()</td>
				<td>@userService.GetUserEmailByUserId(dish.UserId)</td>
			</tr>
		}

		<tr style="text-align:right; font-weight:bold">
			<td colspan="6">Total price: @orderService.GetReceipt(orderService.GetOrderById(Id))</td>
		</tr>

	</tbody>
</table>


<button style="position: fixed; top: 10px; left: 10px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToPrevious">arrow_back</button>
<button style="position: fixed; top: 10px; left: 60px; border:none; font-size:32px" class="material-icons" @onclick="NavigateToMainMenu">home</button>
@code {

		[Parameter]
		public long Id{ get; set; }

		public decimal GetUserDeliveryPrice()
		{
			if (orderService.GetFreeDeliveryOrderPrice(orderService.GetOrderById(Id)) == 0)
			{
				return 0;
			}
			else
			{
				var dishes = dishService.GetOrderDishes(Id);
				var users = new List<string>();
				foreach(var dish in dishes)
				{
					users.Add(userService.GetUserEmailByUserId(dish.UserId));
				}
				return (orderService.GetOrderById(Id).DeliveryPrice) / users.Distinct().Count();
			}
		}


		public void NavigateToMainMenu()
		{
			UriHelper.NavigateTo("/Welcome");
		}

		public void NavigateToPrevious()
		{
			UriHelper.NavigateTo("/OrderHistory");
		}
}
